  .FormCenter {
      margin-top: -15%;
  }
  
  .FormField {
    margin-bottom: 4%;
    margin-top: 10%;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .8em;
    color: white;
  }
  .FormField__Input {
    width: 150%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 5%;
    margin-top: 2%;
  }
  
  .FormField__Input::placeholder {
    color: #616E7F;
  }
  
  .FormField__Button {
    background-color: rgb(125, 219, 208);
    color: white;
    border:  none;
    width: 50%;
    margin-left: 17%;
    outline: none;
    border-radius: 12.5%;
    padding: 5% 15%;
    font-size: .8em;
    font-weight: 500;
  }
  
  .FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
  }
  
  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  
  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  }
  
  .FormField__TermsLink {
    color: white;
    border-bottom: 0.5% solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 1%;
    margin-left:2.5%;
  }